fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
jinja2
python-dotenv
pydantic
passlib[bcrypt]
PyJWT
python-multipart
sqlalchemy
python-dotenv
docling
streamlit
tiktoken
mem0ai
requests
google-generativeai
pandas
pgvector